@model BeFit.Models.Exercise

@{
    ViewData["Title"] = "Edit";
}

@if (ViewBag.SessionDate != null)
{
    <h3 class="text-primary mt-3">Edycja ćwiczenia z sesji: @ViewBag.SessionDate</h3>
}
else
{
    <h1>Edit</h1>
    <h4>Exercise</h4>
}


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="SessionId" value="@ViewBag.CurrentSessionId" />
            <div class="form-group">
                <label asp-for="ExerciseTypeId" class="control-label"></label>
                <select asp-for="ExerciseTypeId" class="form-control" asp-items="ViewBag.ExerciseTypeId"></select>
                <span asp-validation-for="ExerciseTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumOfSeries" class="control-label"></label>
                <input asp-for="NumOfSeries" class="form-control" />
                <span asp-validation-for="NumOfSeries" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumOfReps" class="control-label"></label>
                <input asp-for="NumOfReps" class="form-control" />
                <span asp-validation-for="NumOfReps" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Zapisz zmiany" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @if (ViewBag.CurrentSessionId != null)
    {
        <a asp-action="Index" asp-route-sessionId="@ViewBag.CurrentSessionId" class="btn btn-outline-secondary">Wróć do listy ćwiczeń tej sesji</a>
    }
    else
    {
        <a asp-action="Index">Back to List</a>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
